.tNrm {
  color: $global-font-color;
  font-weight: $global-font-weight;
  text-align: left;
  line-height: $global-line-height;
}

.t {
  font-family: $body-font-family;
}

.tSc {
  font-family: $secondary-font-family;
}

.tCenter {
  text-align: center;
}

.tRight {
  text-align: right;
}

.tLeft {
  text-align: left;
}

.tPrimary {
  color: $primary-color;
}

.tMedium {
  font-weight: 500;
}

.tUnderline {
  text-decoration: underline;
}

.bg_light_grey {
  background-color: $light-gray;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}
