{{>row_start
    style="background-color:#6230ff;background-image: url(https://executivecomputers.blob.core.windows.net/newlogos/Executive-Email-ai-resized.png);background-size: 100%;background-repeat: no-repeat;vertical-align: middle;background-position: right bottom;background-repeat:no-repeat;"
   }}
     <tr>
       {{>col__start
           class="large-12 small-12 first last"
           style="padding-bottom:45px;padding-top:45px;text-align:center;"
       }} 
       <p style="text-align: center;color: #fff;margin:0;" class="t tNrm ">
        <a href="https://executiveusa.com/" class="t tNrm" style="color: #fff;text-decoration:none;">executiveusa.com</a>
        &nbsp;|
        <a href="mailto:support@executiveusa.com" class="t tNrm" style="color: #fff;text-decoration:none;">support@executiveusa.com</a>   
       </p>
       {{>col__end}}
     </tr> 
   {{>row_end}}
   