{{>row_start
    style="background-color: #e0d6ff"
  }}
  <tr>
    {{>col__start
      class="large-12 small-12 first last"
      style="padding-top:48px;padding-bottom:66px;vertical-align:top;"
    }}
    <h2 class="t tNrm" style="font-style: italic;font-size:12pt;">
        <b>
            We’re thrilled to announce the rollout of a new tool designed to enhance your support experience: HelpDesk+  This innovative tool makes it faster and easier than ever to get help when you need it. <br><br>
        </b>
    </h2>
    <spacer size="30"  style="border-top: 1px solid #bdb8cd;"></spacer>
    <p class="t tNrm" style="color: #612ffe;font-size:20px;"><b>HelpDesk+: Simplified Support&nbsp;</b></p>
    <spacer size="30"></spacer>
    <p class="t tNrm" style="font-size: 15px;">Here’s how HelpDesk+ will transform your experience:&nbsp;</p>
    <table>
      {{>item
        style="padding-top:16px;"
        text="<b>Quick Ticket Submission:</b> A seamless way to report issues directly from your desktop."
      }}
      {{>item
        style="padding-bottom:50px;"
        text="<b>Faster Resolutions: </b> Streamlined processes to ensure your concerns are addressed promptly."
      }}
    </table>
    <p class="t tNrm" style="color: #612ffe;font-size:20px;"><b>What to Expect:</b></p>
    <table>
      {{>item2
        style="padding-top:30px;"
        text="<b>Easy Access:</b> A shortcut will be added to your taskbar, allowing you to report issues in just a few clicks."
      }} 
      {{>item2
        text="<b>First Time Use:</b> Enter your username and email address during the initial setup—this information will be saved for future use."
      }}
      {{>item2
        text="<b>Reporting an Issue:</b>"
      }}
    </table>
    <table>
      {{>item3
        text="Briefly describe the problem and select its urgency level."
      }}
      {{>item3
        text="Choose whether to include screenshots to provide additional context."
      }}
      {{>item3
        text="Consent to share logs and system data captured by the tool for faster troubleshooting."
      }}
    </table>
    <table style="border-bottom: 1px solid #bdb8cd;">
      {{>item2
        style="padding-bottom:8px;"
        text="<b>Automatic Ticket Submission: </b>  Once confirmed, your report will be sent directly to our support team for review and resolution."
      }} 
    </table>
    <table>
      <tr>
        <td style="padding-top: 26px;">
          <p class="t tNrm" style="font-size: 15px;font-style:italic;">We’re confident that HelpDesk+ will make your support experience more efficient and user-friendly. If you have any questions or need assistance with setup, feel free to reach out to us!<br><br>Thank you for your continued trust in our services.</p>
        </td>
      </tr>
    </table>
    {{>col__end}}
  </tr>
  {{>row_end}}