{{>row_start
    style="background-color: #"
  }}
  <tr>
    {{>col__start
      class="large-12 small-12 first last"
      style="padding-top:48px;padding-bottom:48px;vertical-align:top;"
    }}
    <h2 class="t tNrm">
        <b>
            We’re thrilled to announce the rollout of a new tool designed to enhance your support experience: HelpDesk+  This innovative tool makes it faster and easier than ever to get help when you need it.
        </b>
    </h2>
    {{>col__end}}
  </tr>
  {{>row_end}}