{{>row_start
 style=""
}}
  <tr>
    {{>col__start
        class="large-12 small-12 first last"
        style="padding-bottom:7px;padding-top:40px;"
    }}
    <p class="t tNrm swT20">
        We would like to inform you that your support request number $FAULTID has been successfully resolved.
        <br><br>
        If you believe the ticket was closed in error, please reply to this email or visit our <a href="#" target="_blank" class="t tNrm" style="color:#6130ff">support portal</a> to reopen the ticket.
        <br><br> 
        At Executive, we strive to continually improve our performance and services.
        <br><br>
        Your feedback is important to us, and we kindly request that you take a moment to rate your recent experience with our support team by clicking on one of the stickers below:
        <br><br>
        <em class="swT26" style="color: #735dc9;font-style: italic;font-size: 22px;font-family: sunday aftrenoon, times new roman, times, serif;">
          The Executive Team 
        </em>
    </p>
    <center>
      <table style="width: initial;">
        <tr>
          {{>item
            href="$FEEDBACK1"
            src="https://halopsasandbox.halopsa.com/api/attachment/image?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Ijk2ZmI0Y2E1LTk5ZDItNGJlZS04ZWQyLWQzOTI0MzVlZjQ1MCJ9.A2Mm0EUyzLTM4E5Ik1mC1KCHszbyvUG5zXi8WxWIJ18"
          }}
          {{>item
            href="$FEEDBACK2"
            src="https://halopsasandbox.halopsa.com/api/attachment/image?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjMyNTY2NjcwLWI0OWUtNDY2MS05NzMxLTI4MmNmYjIyYjNjMSJ9.RMXKasb3MqbNEFXfw52VKEFuwq7_4zAlMzbb4dAMyO0"
          }}
          {{>item
            href="$FEEDBACK3"
            src="https://halopsasandbox.halopsa.com/api/attachment/image?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjhkZWE5YzBmLTA3OWEtNGZmZC1hODcwLWM2OTZiZGE0YmM2MSJ9.kelkSm4ri5qjQk4AjRgkyZiaRTJ6rOQVNZRWZIVCBXE"
          }}
          {{>item
            href="$FEEDBACK4"
            src="https://halopsasandbox.halopsa.com/api/attachment/image?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImIyYzFjN2M1LTFiYWEtNDllMi1iNWEzLWRjMjQ0ODlkMGVmYyJ9.V6hhlwMSmKGjhK9LTlFEK9Wk_7sEsg2EacdFLIiipJ8"
          }}
        </tr>
      </table>
    </center>
    {{>col__end}}
  </tr> 
{{>row_end}}
