{{>row_start
 style=""
}}
  <tr>
    {{>col__start
        class="large-12 small-12 first last"
        style="padding-bottom:40px;padding-left:50px;padding-right:50px;padding-top:68px;"
    }}
    <p class="t tNrm swT20">
        Dear Customer. 
        <br><br>
        Thank you for contacting Executive. We have received your
        request and created a new ticket (Ticket ID: SFAULTID). Our team
        will review your request and get back to you as soon as possible
        <br><br>
        To track the progress of your ticket or add any additional
        information. please visit our <a href="#" target="_blank" class="t tNrm" style="color:#6130ff">support portal</a> or reply to this email.
        <br><br>
        We appreciate your patience and look forward to assisting you
        <br><br>
        Best regards 
        <br><br>
        <em class="swT26" style="color: #735dc9;font-style: italic;font-size: 22px;font-family: sunday aftrenoon, times new roman, times, serif;">
          The Executive Team 
        </em>
    </p>
    {{>col__end}}
  </tr> 
{{>row_end}}
