{{>row_start
    style="background-color: #6310ff"
}}
  <tr>
    {{>col__start
      class="large-3 small-3 first"
      style="padding-bottom:20px;padding-left:20px;padding-right:20px;padding-top:20px;vertical-align:top;"
    }} 
      <a href="https://executiveusa.com/" target="_blank">
        <img src="https://risingtide-imgs.nyc3.cdn.digitaloceanspaces.com/executiveusa/executive_logo.png" alt="" width="200" style="width: 200px;" >
      </a>
    {{>col__end}} 
    {{>col__start 
      class="large-9 small-9 last"
      style="padding-left:0;padding-right:22px;text-align:right;vertical-align:top;padding-top: 12px;padding-bottom:11px;"
    }}
    <table style="border-radius: 20px;background: #e0d6ff;background: linear-gradient(to top, #e0d6ff, transparent);border: 1px solid #e0d6ff;width:244px;" align="right">
      <tr>
        <td class="t tNrm" style="padding-top: 15px;padding-left:15px;vertical-align: middle;padding-bottom:15px;">
          <img src="https://risingtide-imgs.nyc3.cdn.digitaloceanspaces.com/executiveusa/executive_bell.png" alt="" width="48" height="46" style="width:48px;">
        </td>
        <td style="padding-top: 15px;padding-right: 15px;padding-bottom:15px;vertical-align: middle;padding-left:10px;">
          <h2 style="margin: 0;font-size:24px;color:#fff;" class="t tNrm">
            New Update!
          </h2>
        </td>
      </tr>
    </table>

    {{>col__end}}
  </tr>
{{>row_end}}
  